
<p>Author : {{paragraph.field_author.value}} </p>
<p>Main Actor : {{paragraph.field_main_actor.value}} </p>
<p>Main actress : {{paragraph.field_main_actress.value}} </p>
<p>Relase date : {{paragraph.field_release_date.value|date("d/m/Y")}} </p>
